body {
  background: tan url(https://source.unsplash.com/collection/329879);
  background-size: cover;
  background-position: center center;
  font-family: Helvetica;
}

.app {
  display: grid;
  grid-template-rows: 1fr auto 10fr;
  height: 100vh;
  grid-gap: 5px;
  grid-template-areas: "padding" "countdown" "tweet";
}

/* Countdown */

.count-wrapper {
  grid-area: countdown;
  display: stretch;
}

h3 {
  margin: 0;
  font-weight: lighter;
}

.countdown {
  display: grid;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 45px;
  border-radius: 5px;
}

.hashtag {
  font-size: 6vw;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px solid black;
}

.time {
  font-size: 4vw;
  text-transform: lowercase;
  margin-top: 4px;
}

/* Tweet */

.tweet-wrapper {
  grid-area: tweet;
  display: grid;
  justify-content: center;
  align-content: center;
}

.twit-tweet {
  display: grid;
  grid-template-columns: minmax(80vw, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 0;
}

@media (min-width: 595px) {
  .count-wrapper {
    display: grid;
    align-content: center;
    justify-content: center;
  }
}
